<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:bold">


    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d6baa09c77.js" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ metadata.googleAnalyticsId }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ metadata.googleAnalyticsId }}');
    </script>

    <!-- <title>{{ title }}{% if title!=metadata.title %} | {{ metadata.title }}{% endif %}</title> -->
    <title>{{ metadata.title }}</title>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="container">
      {% include "header.njk" %}
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>

    {% set js %}
      {% include "js/core.js" %}
      {% include "js/hello.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



