/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$page-color: #025955;
$text-color: #fde8cd;
$accent-color: #00917c;
$dark-color: #433520;

/* color palettes from Color Hunt */