/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$text-color: #2f4858;
$dark-color: #468d83;
$accent-color: #c68226;
$page-color: #f1f1e6;

$darkest-color: #193441;

/* color palettes from Color Hunt */