@import '_variables.css';
/* @import '_syntax.css'; */

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  background-color: $page-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: $text-color;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  min-height: 100vh;
  background: $page-color;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @media (min-width: $mid) {
    width: 600px;
  };
  @media (min-width: $wide) {
    width: 700px;
  };
}


h1, h2, h3 {
  color: $text-color;
  font-weight: 700;
  font-family: 'PT Serif';
  padding-top: 1em;
  margin-bottom: 0.2em;
  line-height: 1;
}
h1 {
  font-size: 3em;
  padding-top: 0.4em;
  margin-bottom: 0.5em;
  line-height: 1;

  @media (min-width: $mid) {
    font-size: 4em;
  };
  @media (min-width: $wide) {
    font-size: 4.4em;
  };
}


p {
  padding-top: $content-padding-top;
  margin-bottom: $content-margin-bottom;
}


ul, ol {
  list-style-position: inside;  
  padding-top: $content-padding-top;
  padding-left: 0.1rem;
  margin-bottom: $content-margin-bottom;
}


a:link,
a:visited {
  color: $accent-color;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $accent-color; /*mix($text-color, $accent-color, 20%)*/
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom-color: $text-color;
}



.nav {
  margin-top: 2rem; /* this will affect the about button alignment */
  padding-top: 3rem;
  padding-bottom: 2rem;

  li {
    display: inline-block;
  }

  a:link,
  a:visited {
    font-family: 'PT Serif';
    font-weight: 500;
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: $text-color;
    border-bottom-style: none;
    margin-left: 0;
    margin-right: 0.7em;
    padding: $header-footer-padding;
    width: 7em; /* 9em; */
    text-align: left;
    color: $text-color;
    text-decoration: none;
  }
  a:hover,
  a:focus {
      color: $accent-color;
      border-top-color: $accent-color;
      border-bottom-style: none;
  }
}




footer {
  margin-top: 6em;
  padding-bottom: 6em;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $text-color;
  font-weight: 500;
  font-size: 0.8em;
  color: mix($text-color, $page-color, 80%);

  p {
    padding: 0 $header-footer-padding;
    margin: 0;
  }
}

.media {
  li {
    list-style: none;
    padding: 10px $header-footer-padding 0px;
    display: inline-block;
    font-size: 25px;
  }

  a:link,
  a:visited {
    color: mix($text-color, $page-color, 80%);
    border-bottom: none;
  }
  a:hover,
  a:focus {
    color: $accent-color;
    border-bottom: none;
  }
}

/* added */

.image-cropper {
  width: 190px; /* 200px */
  height: 190px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  float: right;
  shape-outside: circle(50%);
  margin: 15px;

  
  @media (max-width: $wide) {
    width: 150px;
    height: 150px;
    margin: 10px;
  };
}

.highlight-pic {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
}



ul.feature-icons {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;

  @media (max-width: $wide) {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  };

}

ul.feature-icons li {
  text-decoration: none;
  height: 3.8em;
  display: inline-block;
  margin: auto;
  padding: 0em 0em 0em 3.5em;  /* 2.5 em + 1 em */
  position: relative;
  width: 80%;
  line-height: 2.5em;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

ul.feature-icons li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 1.05rem;  /* slightly larger */
  text-transform: none !important;
}


ul.feature-icons li:before {
  color: $text-color;
  border: solid;
  border-radius: 95%;
  border-width: thin;
  border-color: mix($text-color, $page-color, 80%);

  display: block;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5em;

  margin: auto;

}


/* 

.subtitle {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style:none;
}

main {
  margin-top: 4em;
}


pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

*/